.root {
    /*-fx-background-color: null;*/
    -base-hover-color: #008080;

}

/*----图标按钮的通用样式--------*/
.svg-btn {
    -fx-max-width: 20;
    -fx-max-height: 20;
}


.svg-btn Region {
    -fx-background-color: white;
}

.svg-btn:hover Region {
    -fx-background-color: -base-hover-color;
}

.chatbox-btn {
    -fx-max-width: 65;
    -fx-max-height: 35;
    -fx-background-color: -base-hover-color;
    -fx-text-fill: white;
}

.chatbox-btn:hover {
    -fx-text-fill: white;
    -fx-background-color: #066b33;
}




/*-------------顶部区域----------*/
.logo-pane {
    -fx-background-color: -base-hover-color;
}

.logo-icon {
    -fx-background-color: null;

}
.logo-icon Region{
    -fx-shape: "M94.698667 149.333333l245.354666 1.28c7.104 0.042667 13.952 2.666667 19.413334 7.424l112.682666 98.432h457.301334c16.874667 0 30.549333 14.314667 30.549333 32v554.176c0 17.685333-13.674667 32-30.549333 32H94.549333C77.653333 874.666667 64 860.330667 64 842.666667V181.333333c0-17.728 13.76-32.085333 30.698667-32zM128 213.504v597.141333h768V320.469333H461.482667c-7.104 0-13.973333-2.645333-19.413334-7.424l-111.914666-98.496L128 213.482667zM394.666667 597.333333h256.512a32 32 0 0 1 31.104 39.530667l-0.789334 2.709333-32.426666 96a32 32 0 0 1-61.482667-17.493333l0.853333-2.986667 18.133334-53.76H394.666667a32 32 0 0 1-3.072-63.850666L394.666667 597.333333h256.512H394.666667z m42.666666-211.626666a32 32 0 0 1 20.949334 37.568l-0.853334 2.986666-18.154666 53.76h211.925333a32 32 0 0 1 3.072 63.850667l-3.072 0.128H394.666667a32 32 0 0 1-31.104-39.530667l0.789333-2.709333 32.426667-96a32 32 0 0 1 40.533333-20.053333z";
    -fx-background-color: white;
    -fx-pref-width: 35;


}
.logo-label {
    -fx-fill: white;
    -fx-font-size: 23;
    -fx-background-color: -base-hover-color;
}

Label {
    -fx-text-alignment: left;
}


.full-btn {
    -fx-background-color: null;
}

.full-btn Region {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-shape: "M628.053333 628.053333a32 32 0 0 1 45.226667 0l158.72 158.634667V693.333333l0.298667-4.352A32 32 0 0 1 896 693.333333v181.333334l-0.341333 3.84a21.333333 21.333333 0 0 1-20.992 17.493333h-181.333334l-4.352-0.298667a32 32 0 0 1-27.648-31.701333l0.298667-4.352a32 32 0 0 1 31.701333-27.648h93.44l-158.72-158.72-3.114666-3.584a32 32 0 0 1 3.114666-41.642667z m-232.106666 0a32 32 0 0 1 3.114666 41.642667l-3.114666 3.584-158.72 158.72h93.44a32 32 0 0 1 31.701333 27.648l0.298667 4.352a32 32 0 0 1-27.648 31.701333L330.666667 896H149.333333a21.333333 21.333333 0 0 1-20.992-17.493333L128 874.666667v-181.333334a32 32 0 0 1 63.701333-4.352l0.298667 4.352v93.354667l158.72-158.634667a32 32 0 0 1 45.226667 0zM874.666667 128a21.333333 21.333333 0 0 1 20.992 17.493333L896 149.333333v181.333334a32 32 0 0 1-63.701333 4.352L832 330.666667V237.312L673.28 395.946667a32 32 0 0 1-48.341333-41.642667l3.114666-3.584 158.72-158.72h-93.44a32 32 0 0 1-31.701333-27.648L661.333333 160a32 32 0 0 1 27.648-31.701333L693.333333 128h181.333334zM330.666667 128l4.352 0.298667a32 32 0 0 1 27.648 31.701333l-0.298667 4.352a32 32 0 0 1-31.701333 27.648H237.226667l158.72 158.72 3.114666 3.584a32 32 0 0 1-48.341333 41.642667L192 237.312V330.666667l-0.298667 4.352A32 32 0 0 1 128 330.666667V149.333333l0.341333-3.84A21.333333 21.333333 0 0 1 149.333333 128h181.333334z";
    -fx-background-color: black;
}

.full-btn:selected Region {
    -fx-shape: "M749.248 704H864a32 32 0 1 0 0-64H672a32 32 0 0 0-32 32v192a32 32 0 1 0 64 0v-114.752l137.36 137.36a32 32 0 1 0 45.232-45.264L749.248 704zM320 749.248V864a32 32 0 1 0 64 0V672a32 32 0 0 0-32-32H160a32 32 0 1 0 0 64h114.752l-137.36 137.36a32 32 0 1 0 45.264 45.232L320 749.248zM749.248 320H864a32 32 0 1 1 0 64H672a32 32 0 0 1-32-32V160a32 32 0 1 1 64 0v114.752l137.36-137.36a32 32 0 1 1 45.232 45.264L749.248 320zM320 274.752V160a32 32 0 1 1 64 0v192a32 32 0 0 1-32 32H160a32 32 0 1 1 0-64h114.752l-137.36-137.36a32 32 0 1 1 45.264-45.232L320 274.752z";
}

.full-btn:hover Region {
    -fx-background-color: -base-hover-color;
}


.mini-btn Region {
    -fx-shape: "M161.422298 550.654841l77.896037 0 0-77.896037-77.896037 0L161.422298 550.654841zM161.422298 706.47966l77.896037 0 0-77.886827-77.896037 0L161.422298 706.47966zM239.367453 862.304479l0-77.937992-77.946179 0C161.422298 827.26651 196.468454 862.304479 239.367453 862.304479M161.422298 394.870955l77.896037 0 0-77.886827-77.896037 0L161.422298 394.870955zM628.862986 862.304479l77.87864 0 0-77.88785-77.87864 0L628.862986 862.304479zM784.687805 161.158286l-389.545674 0c-42.849881 0-77.88785 35.028759-77.88785 77.88785l0 77.88785 0 77.936969 0 233.720856c0 42.791553 35.037969 77.886827 77.88785 77.886827l194.806606 0 155.7757 0 38.964391 0c42.792576 0 77.88785-35.095274 77.88785-77.886827l0-389.545674C862.575655 196.188068 827.480381 161.158286 784.687805 161.158286M784.687805 628.592833l-389.545674 0 0-389.545674 389.545674 0L784.687805 628.592833zM473.096495 862.304479l77.871477 0 0-77.88785-77.871477 0L473.096495 862.304479zM317.255304 862.304479l77.88785 0 0-77.88785-77.88785 0L317.255304 862.304479z";
    -fx-background-color: black;
}

.close-btn Region {
    -fx-shape: "M846.841 799.024L562.002 514.185l284.839-284.96c13.714-13.714 13.714-36.045 0-49.759s-36.045-13.714-49.759 0L512.243 464.305l-284.96-284.839c-13.714-13.714-36.045-13.714-49.759 0s-13.714 36.045 0 49.759l284.96 284.96-284.96 284.839c-13.714 13.714-13.714 36.045 0 49.759s36.045 13.714 49.759 0l284.96-284.96 284.96 284.96c13.714 13.714 36.045 13.714 49.759 0 13.593-13.714 13.593-36.045-0.122-49.759z";
    -fx-background-color: black;
}

.close-btn:hover Region {
    -fx-background-color: red;
}

/*--------左侧区域------------------*/
.left-pane {
    -fx-background-color: #f2f9f8;
}

.left-pane ListView {
    -fx-background-color: #f2f9f8;
}

.setting-btn Region{
    -fx-shape: "M439.264 208a16 16 0 0 0-16 16v67.968a239.744 239.744 0 0 0-46.496 26.896l-58.912-34a16 16 0 0 0-21.856 5.856l-80 138.56a16 16 0 0 0 5.856 21.856l58.896 34a242.624 242.624 0 0 0 0 53.728l-58.88 34a16 16 0 0 0-6.72 20.176l0.848 1.68 80 138.56a16 16 0 0 0 21.856 5.856l58.912-34a239.744 239.744 0 0 0 46.496 26.88V800a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16v-67.968a239.744 239.744 0 0 0 46.512-26.896l58.912 34a16 16 0 0 0 21.856-5.856l80-138.56a16 16 0 0 0-4.288-20.832l-1.568-1.024-58.896-34a242.624 242.624 0 0 0 0-53.728l58.88-34a16 16 0 0 0 6.72-20.176l-0.848-1.68-80-138.56a16 16 0 0 0-21.856-5.856l-58.912 34a239.744 239.744 0 0 0-46.496-26.88V224a16 16 0 0 0-16-16h-160z m32 48h96v67.376l28.8 12.576c13.152 5.76 25.632 12.976 37.184 21.52l25.28 18.688 58.448-33.728 48 83.136-58.368 33.68 3.472 31.2a194.624 194.624 0 0 1 0 43.104l-3.472 31.2 58.368 33.68-48 83.136-58.432-33.728-25.296 18.688c-11.552 8.544-24.032 15.76-37.184 21.52l-28.8 12.576V768h-96v-67.376l-28.784-12.576c-13.152-5.76-25.632-12.976-37.184-21.52l-25.28-18.688-58.448 33.728-48-83.136 58.368-33.68-3.472-31.2a194.624 194.624 0 0 1 0-43.104l3.472-31.2-58.368-33.68 48-83.136 58.432 33.728 25.296-18.688a191.744 191.744 0 0 1 37.184-21.52l28.8-12.576V256z m47.28 144a112 112 0 1 0 0 224 112 112 0 0 0 0-224z m0 48a64 64 0 1 1 0 128 64 64 0 0 1 0-128z";
    -fx-background-color: black;
}




