/*-----------信息--------------------*/
.infoStackPane {
    -fx-background-radius: 18px;
}
.infoStackPane:hover {
    -fx-background-color: rgba(160, 241, 228, 0.59);
}
.infoStackPane Region {
    -fx-shape: "M512 65.983389c-245.952318 0-446.016611 200.064292-446.016611 446.016611S266.047682 958.016611 512 958.016611 958.016611 757.952318 958.016611 512 757.952318 65.983389 512 65.983389zM544.00086 736.00086c0 17.695686-14.303454 32.00086-32.00086 32.00086s-32.00086-14.303454-32.00086-32.00086L479.99914 448c0-17.695686 14.303454-32.00086 32.00086-32.00086 17.695686 0 32.00086 14.303454 32.00086 32.00086L544.00086 736.00086zM512 352.00086c-26.496224 0-48.00043-21.53689-48.00043-48.00043 0-26.527187 21.504206-48.00043 48.00043-48.00043s48.00043 21.471523 48.00043 48.00043C560.00043 330.46397 538.496224 352.00086 512 352.00086z";
    -fx-background-color: black;
}
.infoStackPane:hover Region {
    -fx-background-color: rgba(0, 128, 128, 0.94);
}
/*.infoStackPane Region:hover {*/
/*    -fx-background-color: #a0f1e4;*/
/*}*/

/*-----------历史记录--------------------*/
.recordStackPane {
    -fx-background-radius: 18px;
}
.recordStackPane:hover {
    -fx-background-color: rgba(160, 241, 228, 0.59);
}
.recordStackPane Region {
    -fx-shape: "M144.050432 311.120128C150.72016 298.14528 159.483744 281.657568 165.972256 271.480736 245.506592 146.735712 385.091328 64 544 64 791.423552 64 992 264.576448 992 512 992 759.423552 791.423552 960 544 960 383.12528 960 242.055648 875.204416 163.047904 747.870016 152.260384 730.484064 148.608608 721.877024 148.608608 721.877024 140.526912 706.07824 121.00352 698.887232 104.646144 705.605952 88.174688 712.371488 81.331744 730.490304 89.107264 746.180064 89.107264 746.180064 94.27984 757.936064 105.745536 776.866816 195.465184 925.000928 358.17136 1024 544 1024 826.769792 1024 1056 794.769792 1056 512 1056 229.230208 826.769792 0 544 0 360.797344 0 200.068256 96.220896 109.592672 240.882816 105.015264 248.201632 99.386304 258.44688 94.010208 268.65776L76.719904 159.49104C73.980704 142.19648 57.73136 130.398432 40.154144 133.182368 22.698592 135.947072 10.815968 152.506944 13.539136 169.700448L38.593024 327.884448C44.117152 362.762368 76.620576 386.597728 111.74736 381.034208L269.931392 355.98032C287.335072 353.22384 299.2216 336.96048 296.437632 319.383232 293.67296 301.927712 277.178208 290.034752 260.117184 292.73696L144.050432 311.120128 144.050432 311.120128 144.050432 311.120128ZM544 223.852736C544 206.26096 529.79632 192 512 192 494.32688 192 480 206.584352 480 224.079136L480 511.72704C480 547.224 508.8624 576 544.27296 576L831.920864 576C849.637664 576 864 561.79632 864 544 864 526.32688 849.418752 512 832.147264 512L575.852736 512C558.26096 512 544 497.418752 544 480.147264L544 223.852736 544 223.852736 544 223.852736Z";
    -fx-background-color: black;
}
.recordStackPane:hover Region {
    -fx-background-color: rgba(0, 128, 128, 0.94);
}

/*-----------logo--------------------*/
.logoStackPane {

}

.logoStackPane Region {
    -fx-shape: "M480 480m-160 0a160 160 0 1 0 320 0 160 160 0 1 0-320 0ZM259.1 85c3-0.7 5.6 2.1 4.7 5.1l-13.3 42.8L197 305.5c-0.9 2.9-4.7 3.8-6.8 1.5l-41.1-44.4c-7.2-7.8-20-6.5-25.5 2.6-10.2 16.9-19.2 34.6-27 52.9C75 369.3 64 423.8 64 480s11 110.7 32.7 161.9c15.8 37.5 36.9 72.1 62.7 103.2 10.2 12.3 9.6 30.4-1.3 42.1-13.2 14.2-35.8 13.5-48.1-1.4C41.3 702.8 0 596.2 0 480c0-100.3 30.8-193.4 83.4-270.4 4.2-6.1 3.5-14.4-1.5-19.8l-44.7-48.4c-2.1-2.3-0.9-5.9 2.1-6.6l145-32.8 74.8-17zM1001.4 271.8c3-0.6 5.5 2.4 4.5 5.3L956 417.4l-25.6 72.1c-1 2.9-4.8 3.6-6.8 1.3l-28.1-33-118.2-138.7c-2-2.3-0.7-6 2.3-6.5l53.7-9.9c10.7-2 16.4-13.9 11.1-23.5-18.8-34.2-42.4-65.4-70.3-93.4-38.2-38.2-82.7-68.2-132.3-89.2C590.7 75 536.2 64 480 64c-41.2 0-81.5 5.9-120.2 17.6-15.3 4.6-31.7-2.9-38.3-17.5-7.9-17.6 1.4-38.2 19.9-43.7C385.2 7.1 431.8 0 480 0c192 0 357.7 112.8 434.5 275.7 3.1 6.5 10.2 10.2 17.3 8.9l69.6-12.8zM917.7 544c20.5 0 35.6 18.9 31.2 38.9C901.8 798.6 709.8 960 480 960c-29.3 0-58-2.6-85.9-7.7-7.2-1.3-14.3 2.5-17.4 9.1l-26.9 59.1c-1.3 2.8-5.1 3.2-6.9 0.7L262 907.8l-50-70.2c-1.8-2.5-0.2-6 2.9-6.3l36.7-3.5 187.7-18.1c3.1-0.3 5.3 2.8 4 5.6l-25.2 55.3c-4.5 9.9 1.9 21.3 12.7 22.5 16.2 1.9 32.6 2.8 49.1 2.8 56.2 0 110.7-11 161.9-32.7 49.5-20.9 94-51 132.3-89.2 38.2-38.2 68.2-82.7 89.2-132.3 10-23.6 17.7-47.9 23.1-72.7 3.3-14.5 16.3-25 31.3-25z";
    -fx-background-color: #008080;
}

/*-----------快速保存--------------------*/
.quickSaveBtn {
    -fx-border-color: null;
    -fx-background-color: #009688;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #008080;
}

/*-----------信息窗口--------------------*/
.infoMainPane {
    -fx-background-color: #f2f9f8;
    -fx-background-radius: 5px;
    -fx-font-size: 18;
}
.infoMainPane Label {
    -fx-font-size: 15;
    -fx-label-padding: 0 0 0 10;
}

