.file-bg-region {
    -fx-background-color: #f2f9f8;
    -fx-background-radius: 20;
    -fx-text-fill: #009688;
}

.file-bg-region:hover {
    -fx-background-color: #d9efed;
}

.file-icon-region {
    -fx-shape: "M530.354 83.891c25.407 0 46.004 20.583 46.004 45.974v204.803c0 19.043 15.447 34.481 34.503 34.481h218.694c25.407 0 46.003 20.583 46.003 45.974v420.448c0 69.825-56.64 126.429-126.51 126.429H254.51C184.64 962 128 905.396 128 835.57V210.32c0-69.825 56.64-126.429 126.51-126.429h275.844z m119.257 389.191c-34.458-34.595-90.237-34.668-124.785-0.162L345.591 651.938l-1.413 1.435c-46.187 47.651-45.984 123.939 0.81 171.337l1.696 1.685c47.595 46.387 123.566 45.949 170.625-1.341l173.435-174.668 0.338-0.35c6.867-7.28 6.747-18.783-0.355-25.917-7.216-7.25-18.908-7.242-26.115 0.016L491.271 798.71l-1.065 1.054c-33.176 32.275-86.085 31.922-118.83-1.043l-0.181-0.185-0.977-1.005c-31.91-33.389-31.399-86.477 1.396-119.233L550.85 499.28l0.607-0.597c20.161-19.495 52.197-19.254 72.064 0.692 20.037 20.117 20.101 52.752 0.143 72.948L460.421 737.508l-0.367 0.361c-6.892 6.586-17.787 6.484-24.556-0.311-7.064-7.093-7.17-18.573-0.237-25.796l138.514-144.318 0.332-0.354c6.743-7.398 6.43-18.897-0.792-25.909-7.337-7.124-19.027-6.917-26.11 0.463L408.69 685.962l-0.622 0.658c-20.302 21.843-19.778 56.028 1.34 77.23 21.317 21.401 55.848 21.37 77.126-0.072L649.856 598.51l1.02-1.048c33.291-34.797 32.843-90.136-1.265-124.38zM624.837 80.995a18.4 18.4 0 0 1 12.725 5.109l234.743 224.735c7.34 7.028 7.595 18.675 0.567 26.016a18.4 18.4 0 0 1-13.291 5.675H638.637c-17.783 0-32.2-14.416-32.2-32.2V99.395c0-10.162 8.238-18.4 18.4-18.4z";
    -fx-background-color: #009688;
}

.text-icon-region {
    -fx-shape: "M790.754133 93.866667C867.733333 93.866667 930.133333 156.266667 930.133333 233.245867v557.508266C930.133333 867.733333 867.733333 930.133333 790.754133 930.133333H233.245867C156.266667 930.133333 93.866667 867.733333 93.866667 790.754133V233.245867C93.866667 156.266667 156.266667 93.866667 233.245867 93.866667h557.508266zM389.768533 775.8336a12.8 12.8 0 0 0-12.8 12.8v11.246933a12.8 12.8 0 0 0 13.4272 12.7872c31.786667-1.565867 54.3232-2.594133 67.613867-3.0848 22.638933-0.832 41.1776-1.250133 55.624533-1.250133 19.997867 0 57.220267 1.250133 111.6672 3.7504a54795.541333 54795.541333 0 0 0 18.030934 0.725333 12.8 12.8 0 0 0 12.8-12.8v-11.374933a12.8 12.8 0 0 0-12.8-12.8h-1.783467c-16.110933 0-28.608-1.527467-37.499733-4.5824-8.887467-3.054933-15.415467-8.055467-19.584-15.0016-3.6096-7.223467-6.2464-18.193067-7.914667-32.917333-1.664-14.72-2.500267-40.413867-2.500267-77.0816v-77.917867c0-38.144 0.1408-88.285867 1.92-269.0304a12.8 12.8 0 0 1 12.8-12.637867h60.6976c42.496 0 70.971733 5.905067 85.418667 17.706667 8.6528 7.0784 17.2672 26.244267 25.847467 57.5104a12.8 12.8 0 0 0 14.3104 9.258667l13.824-2.1504a12.8 12.8 0 0 0 10.7392-14.203734c-3.349333-27.323733-5.546667-47.735467-6.600534-61.243733a867.592533 867.592533 0 0 1-2.705066-67.293867 10.082133 10.082133 0 0 0-12.322134-9.8304c-11.434667 2.606933-22.1184 4.288-32.055466 5.038934-20.138667 1.527467-55.765333 2.2912-106.875734 2.2912H389.051733c-45.559467 0-77.917867-0.763733-97.083733-2.2912-9.028267-0.7168-19.0976-2.210133-30.208-4.48a12.8 12.8 0 0 0-15.330133 11.682133c-1.719467 25.5232-3.554133 45.346133-5.504 59.464533-2.039467 14.7584-6.1056 36.928-12.202667 66.5088a12.8 12.8 0 0 0 9.877333 15.104l15.240534 3.242667a12.8 12.8 0 0 0 14.856533-8.631467c10.282667-32.221867 20.258133-52.0064 29.934933-59.349333 16.110933-12.219733 45.973333-18.3296 89.582934-18.3296h58.8672a12.8 12.8 0 0 1 12.8 12.8v225.531733c0 81.109333-0.554667 136.6656-1.664 166.664534-1.109333 30.0032-3.0592 48.891733-5.8368 56.669866-4.164267 10.274133-10.555733 17.429333-19.165867 21.457067s-22.2208 6.0416-40.832 6.0416h-2.615467z";
    -fx-background-color: #009688;
}

.loop-icon {
    -fx-shape: "M512.271856 139.636751 512.271856 0 326.090231 186.181624l186.181624 186.181624L512.271856 232.727563c153.599467 0 279.272437 125.67297 279.272437 279.272437 0 46.544873-13.963782 93.090812-32.582157 130.327563l69.817843 69.817843c32.582157-60.508655 55.854061-125.67297 55.854061-200.145406C884.635104 307.2 717.071856 139.636751 512.271856 139.636751zM512.271856 791.272437c-153.599467 0-279.272437-125.67297-279.272437-279.272437 0-46.545939 13.963782-93.090812 32.582157-130.327563l-69.817843-69.817843c-32.582157 60.508655-55.854061 125.67297-55.854061 200.145406 0 204.8 167.563249 372.363249 372.363249 372.363249l0 139.636751 186.181624-186.181624-186.181624-186.181624L512.272922 791.272437z";
    -fx-background-color: black;
    -fx-pref-width: 23;
    -fx-pref-height: 25;
}

.loop-bg {
    -fx-background-radius: 12;
}
.loop-bg:hover {
    -fx-background-color: #f5f5f5;
    /*-fx-background-radius: 12;*/
}

.edit-icon {
    -fx-shape: "M686.4 224c-6.4-6.4-6.4-16 0-22.4l68-68c6.4-6.4 16-6.4 22.4 0l112.8 112.8c6.4 6.4 6.4 16 0 22.4l-68 68c-6.4 6.4-16 6.4-22.4 0L686.4 224zM384 776l372-372c5.6-5.6 4.8-15.2-1.6-20.8L641.6 269.6c-6.4-6.4-16-7.2-20.8-1.6L248 640l-56 192 192-56zM64 896v64h896v-64H64z";
    -fx-background-color: black;
    -fx-pref-width: 23;
    -fx-pref-height: 25;
}

.edit-bg {
    -fx-background-radius: 12;
}

.edit-bg:hover {
    -fx-background-color: #f5f5f5;
}

.local-device Region {
    -fx-shape: "M1166.536134 0H109.362763a109.362763 109.362763 0 0 0-109.362763 109.362763v607.327874a109.362763 109.362763 0 0 0 109.362763 109.362763h437.45105v125.038092h-121.028124a36.454254 36.454254 0 1 0 0 72.908508h423.962976a36.454254 36.454254 0 0 0 0-72.908508h-118.840869v-125.038092H1166.536134a109.362763 109.362763 0 0 0 109.362762-109.362763V109.362763a109.362763 109.362763 0 0 0-109.362762-109.362763zM667.841937 951.091492h-60.14952v-125.038092h60.14952zM1202.990388 716.690637a36.454254 36.454254 0 0 1-36.454254 36.454254H109.362763a36.454254 36.454254 0 0 1-36.454255-36.454254V109.362763a36.454254 36.454254 0 0 1 36.454255-36.454255h1057.173371a36.454254 36.454254 0 0 1 36.454254 36.454255z";
    -fx-background-color: black;
}

.device_type_label {
    -fx-background-color: #009688;
    -fx-text-fill: white;
    -fx-background-radius: 3;

}

.star-logo Region {
    -fx-shape: "M1024 384H632.05287L512.066783 0l-120.030609 384H0l317.595826 238.191304L192 1024 512 768 832 1024l-125.551304-401.830957z";
    -fx-background-color: black;
}

